name: deploy-marketing
on:
    push:
        branches:
            - master
            - main
        paths:
            - "packages/marketing/**"

defaults:
    run:
        working-directory: packages/marketing

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Install Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "16"
            - run: npm ci
            - run: npm run build
              env:
                  PRODUCTION_DOMAIN: ${{ secrets.AWS_S3_BUCKET_NAME }}
